[Desktop Entry]
Type=Application
Name=Leotheca
Comment=A free and open source markdown viewer and editor
Exec=leotheca %u
Icon=com.leonardschwier.leotheca
Terminal=false
Categories=Office;TextEditor;
StartupWMClass=leotheca
MimeType=x-scheme-handler/leotheca;
